<% include header.ejs %>
<div class="container">
    <legend>Admin</legend>
    <a href="/admin/users">Users management</a>
    <a href="/admin/workstations">Workstation</a>
    <a href="/admin/ipython">Ipython</a>
</div>
<% include footer.ejs %>
