<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-2 ">
            <% include userDetials.ejs %>
        </div>
        <div class="col-xs-10 col-md-10 ">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Admin</li>
            </ul>
            <div id="admin" class="list-group">
                <a href="/admin/users" class='list-group-item'>Users management</a>
                <a href="/admin/workstations" class='list-group-item'>Workstation</a>
                <a href="/admin/ipythons" class='list-group-item'>Ipython</a>
            </div>
            <div>
                <a href="#" class='btn' onClick='reqDocker()'>Docker</a>
            </div>
            <div id="logs">
            </div>
        </div>
    </div>
</div>
<script>
    var socket = io();
    function reqDocker(){
        socket.emit('reqDocker');
    }
    socket.on('giveDocker', function(res){
        console.log(res[0]);
        $("#logs").empty();
        var data = '<table class="table table-striped table-hover ">\
  <thead>\
    <tr>\
      <th>#</th>\
      <th>Image</th>\
      <th>IP address</th>\
      <th>Ports</th>\
      <th>State</th>\
      <th>Status</th>\
    </tr>\
  </thead>\
  <tbody>';
        for(var i=0; i<res.length; i++){
            data += "<tr><th>" + i + "</th><th>" + res[i].Image + "</th><th>" + res[i].NetworkSettings.Networks.bridge.IPAddress + "</th><th>" + res[i].Ports + "</th><th>" + res[i].State + "</th><th>" + res[i].Status + "</th><th>" + "</th></tr>";
        }
        data += '</tbody></table>';
        $("#logs").append(data);
    });
</script>
<% include footer.ejs %>
