<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<h1>Welcome <%= user.username %></h1>
<div id="status">
</div>
<a class="btn" href="/logout">Logout</a>
<% if (user.admin) {%>
<a class="btn" href="/admin">Admin</a>
<% } %>
<script>
    var socket = io();
    socket.emit('reqStatus', "<%= user.username %>");
    socket.on('giveStatus', function(res){
        $('#status').append("Username: " + res.username + "<br>Workstation quota: " + res.workstation + "<br>Workstation used: " + res.workstationUsed );
    });
</script>
<% include footer.ejs %>
