<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-2 ">
            <% include userDetials.ejs %>
        </div>
        <div class="col-xs-10 col-md-10 ">
            <ul class="breadcrumb">
              <li class="active">Home</li>
            </ul>
            <div id="home" class="list-group">
                <h1>Welcome <%= user.username %></h1>
                <div id="status">
                </div>
                <a class="btn" href="/ipython">Ipython</a>
                <% if (user.admin) {%>
                <a class="btn" href="/admin">Admin</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
    var socket = io();
    socket.emit('reqStatus', "<%= user.username %>");
    socket.on('giveStatus', function(res){
        $('#status').append("Username: " + res.username + "<br>Workstation quota: " + res.workstation + "<br>Workstation used: " + res.workstationUsed );
    });
</script>
<% include footer.ejs %>
