<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-2 ">
            <% include userDetials.ejs %>
        </div>
        <div class="col-xs-10 col-md-10 ">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Node</li>
            </ul>
            <%- message %>
            <legend><h2>Usage</h2></legend>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#intro" data-toggle="tab" aria-expanded="true">Intro</a></li>
              <li class=""><a href="#note" data-toggle="tab" aria-expanded="true">Note</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in well" id="intro">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </div>
              <div class="tab-pane fade well" id="note">
                <p>You need to create 'start' method of yout package in package.json</p>
                <blockquote>
                  <p style='font-family: "Courier New", Courier, monospace;'>
                      "scripts": {<br />
                      &nbsp&nbsp&nbsp&nbsp"start": "node app.js"<br />
                      },<br />
                  </p>
                  <small>package.json</small>
                 </blockquote>
              </div>
            </div>
            <legend><h2>Logs</h2></legend>
            <pre class="well" id="logs"></pre>
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend><h2>Deploy</h2></legend>
                    <div class="form-group">
                        <label for="github" class="col-lg-2 control-label">Github repository of the package</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="github" name="github" placeholder="github repository">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    var socket = io();
    socket.emit('reqNode', "<%= user.username %>");
    socket.on('giveNode', function(res){
        $("#logs").append(res);
    });
</script>
<% include footer.ejs %>
