<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<div class="container">
    <div id="users">
    </div>
</div>
<script>
    var socket = io();
    socket.emit('reqUser');
    socket.on('giveUsers', function(res){
        console.log(res);
        for(i=0; i<res.length;i++){
            $("#users").append(res[i].username + "<br>" + res[i].password + "<br>");    
        }
    });
</script>
<% include footer.ejs %>
