<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">User profile</h3>
  </div>
  <div id="status" class="panel-body">
    <img src="https://upload.wikimedia.org/wikipedia/zh/6/69/Wall_e_.jpg" style="width: 70%; display:block; margin:auto;">
    <br>

  </div>
</div>
<script>
    var socket = io();
    socket.emit('reqStatus', "<%= user.username %>");
    socket.on('giveStatus', function(res){
        $('#status').append("Username: " + res.username + "<br>Workstation quota: " + res.workstation + "<br>Workstation used: " + res.workstationUsed );
    });
</script>
