<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">User profile</h3>
  </div>
  <div id="status" class="panel-body">
    <img src="http://glsindia.com/wp-content/uploads/2013/08/team_fortress_2__the_engineer_by_onosaka_yuha-d47vyqv1.jpg" style="width: 150px; height: 210px; display:block; margin:auto;">
    <br>
    User: <%= user.username %>
    <br>
    Last login: 

  </div>
</div>
<script>
    var socket = io();
    socket.emit('reqStatus', "<%= user.username %>");
    socket.on('giveStatus', function(res){
        $('#status').append("Username: " + res.username + "<br>Workstation quota: " + res.workstation + "<br>Workstation used: " + res.workstationUsed );
    });
</script>
