<% include header.ejs %>
    <div class="container-fulid">
        <div style="text-align: center"><h1>Welcome to <%= title %></h1></div>
	<div class="row">
	    <br>
	    <br>
	    <br>
            <div style="text-align: center"><a class="btn btn-primary" href="/login?lang=ar" role="buttom">Login</a></div>
	    <br>
            <div style="text-align: center"><a class="btn" href="/signup?lang=ar" role="buttom">Signup</a></div>
	  </div>
	</div>
    </div>
<% include footer.ejs %>
